@tailwind base;
@tailwind components;
@tailwind utilities;

#timeSessionSucces{
      animation: hiddenSession 6s;
}

@keyframes hiddenSession {
      0%{
            width: 100%;
      }
      100%{
            width: 0;
            opacity: 0;
      }
}